<!DOCTYPE html>
<html>
<head>
  <title>FullstackAlbum</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= content_tag "div", "Override me!", id: "container", data: { albums: Album.all } %>

</body>
</html>
